        /* body */
        .body_container {
            width: 100%;
            margin: 0;
            background-color: #F8F9FA;
            color:#555555;
            font-family: 'Noto Serif JP', serif;
        }

        /* ------共通------ */
        /* タイトルのテキスト */
        .title_text {
            font-size: 60px;
            text-align: center;
            color: #B6E2A2;
            font-family: 'Parisienne', cursive;
        }

        .open_btn {
            position: fixed;
            z-index: 9999;
            top: 10px;
            right: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
        }

        .close_btn {
            position: fixed;
            z-index: 9999;
            top: 10px;
            right: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: none;
        }

        .top_scroll_btn {
            position: fixed;
            z-index: 9999;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: #B6E2A2;
            text-align: center;
        }

        .top_scroll_icon {
            position: absolute;
            top: 30%;
            left: 30%;
        }

        /* ------ヘッダー------ */
        /* PC版 */
        @media screen and (min-width:768px) {

            .header_container {
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
            }

            /* ヘッダー画像 */
            .header_image {
                height: 100%;
                width: 100%;
                background: url(../image/top_image.png) center;
                background-size: cover;
            }

            .header_text_top {
                font-size: 1.3vw;
                letter-spacing: 0.4em;
                margin: 0 0 20px 0;
            }

            .header_text_bottom {
                display: block;
                font-size: 6vw;
                font-weight: normal;
                line-height: 1;
                letter-spacing: 0;
                padding: 0 10px;
                font-family: 'Parisienne', cursive;
            }
        }

        /* SC版 */
        @media screen and (max-width:768px) {

            .header_container {
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
            }

            /* ヘッダー画像 */
            .header_image {
                height: 100%;
                width: 100%;
                background: url(../image/top_image_sp.png) center;
                background-size: cover;
            }

            .header_text_top {
                font-size: 0.8rem;
                letter-spacing: 0.4em;
                margin: 0 0 20px 0;
            }

            .header_text_bottom {
                display: block;
                font-size: 2rem;
                font-weight: normal;
                line-height: 1;
                letter-spacing: 0;
                padding: 0 10px;
                font-family: 'Parisienne', cursive;
            }
        }


        .header_text {
            top: 40%;
            color: #fff;
            text-align: center;
            width: 100%;
            position: relative;
        }

        /* ------紹介------ */

        /* PC版 */
        @media screen and (min-width:768px) {

            /* 外枠 */
            .introduction_container {
                width: 100%;
                margin-top: 70px;
                display: flex;
                justify-content: center;
            }

            /* 画像の外枠 */
            .introduction_container_image {
                width: 50%;
            }

            /* 紹介画像 */
            .introduction_image {
                width: 90%;
            }

            /* 紹介文 */
            .introduction_text {
                text-align: center;
                padding: 20px 0;
                color: #5d5d5d;
            }
        }

        /* SC版 */
        @media screen and (max-width:768px) {

            /* 外枠 */
            .introduction_container {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
            }


            /* 紹介文 */
            .introduction_text {
                text-align: center;
                padding: 20px 0;
                color: #5d5d5d;
            }

            /* 画像の外枠 */
            .introduction_container_image {
                text-align: center;
            }

            /* 紹介画像 */
            .introduction_image {
                width: 100%;
            }

        }

        /* 紹介ボタン */
        .introduction_button {
            display: inline-block;
            border-radius: 5%;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            padding: 12px 12px;
            color: #333333;
            line-height: 2em;
            transition: .3s;
            border: 1px solid #dddddd;
            text-decoration: none;
            margin-top: 25px;
            width: 165px;
            height: 52px;
        }

        /* ------Men------ */
        .men_container {
            margin-top: 70px;
        }

        /* カードのテキスト */
        .card_text {
            padding: 20px;
            box-shadow: 5px 0 10px #ccc;
        }

        /* カードのリンク */
        .card_link {
            text-decoration: none;
            color: #5d5d5d;
        }

        /*==================================================
          スライダー
        ===================================*/
        .slider {
            /*横幅94%で左右に余白を持たせて中央寄せ*/
            width: 94%;
            margin: 0 auto;
            padding: inherit;
        }

        .slider_img {
            width: 100%;
            height: auto;
        }

        /* メニューボタン */
        .menu_button {
            text-align: center;
            margin-top: 50px;
        }

        .menu_button_link {
            padding: 10px 30px;
            color: #5d5d5d;
            ;
            border: 1px solid #ccc;
            text-decoration: none;
        }

        /* PC版 */
        @media screen and (min-width:768px) {

            /* 予約 */
            .reserve_container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                flex-direction: row-reverse;
                width: 90%;
                margin: 0 auto;
                padding: 70px;
            }

            /* ご予約方法テキスト */
            .reserve_text {
                width: 25%;
                text-align: center;
                font-size: 1.2rem;
                margin: 0 0 10px 0;
            }

            .reserve_image {
                width: 70%;
                min-height: 300px;
                background: url(../image/reserve.png) no-repeat center;
                background-size: cover;
            }
        }

        /* SC版 */
        @media screen and (max-width:768px) {

            /* 予約 */
            .reserve_container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                flex-direction: column-reverse;
                width: 90%;
                margin: 0 auto;
            }

            /* ご予約方法テキスト */
            .reserve_text {
                width: 100%;
                text-align: center;
                font-size: 1.2rem;
                margin: 0 0 10px 0;
            }

            .reserve_image {
                width: 90%;
                min-height: 300px;
                background: url(../image/reserve.png) no-repeat center;
                background-size: cover;
            }
        }

        .reserve_link {
            color: #555;
            text-decoration: none;
            outline: none;
        }

        .reserve_button {
            position: relative;
            display: inline-block;
            padding: 10px 30px;
            color: #333;
            border: 1px solid #ccc;
            text-decoration: none;
            outline: none;
            overflow: hidden;
        }

        /* PC版 */
        @media screen and (min-width:768px) {

            /* Blog */
            .blog_container {
                text-align: center;
                display: flex;
            }

            /* ブログカード */
            .blog_card {
                width: 33%;
            }
        }

        /* SC版 */
        @media screen and (max-width:768px) {

            /* Blog */
            .blog_container {
                text-align: center;
                /* display: flex; */
            }

            /* ブログカード */
            .blog_card {
                width: 100%;
            }
        }

        .blog_image {
            width: 100%;
        }

        .blog_time {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #B6E2A2;
            display: block;
            width: 100%;
            padding: 10px;
            color: #fff;
        }

        .blog_figure {
            display: block;
            position: relative;
            overflow: hidden;
        }

        /* 地図 */
        .map {
            height: 500px;
            margin-top: 20px;
        }

        /* PC版 */
        @media screen and (min-width:768px) {

            /* フッター */
            .footer_container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                position: relative;
                width: 90%;
                margin: 0 auto;
                padding: 70px;
            }

            .footer_container_dl {
                width: 30%;
            }

            .footer_list {
                width: 65%;
                text-align: right;
            }

            .footer_small {
                text-align: right;
                margin: 20px 0 0 0;
                display: block;
                width: 100%;
                font-size: 0.7rem;
            }

            .footer_text {
                overflow: hidden;
                display: inline-block;
                padding: 0 10px;
            }

            .footer_br {
                display: none;
            }
        }

        /* SC版 */
        @media screen and (max-width:768px) {

            /* フッター */
            .footer_container {
                padding: 30px;
            }

            .footer_container_dl {
                width: 100%;
                text-align: center;
            }

            .footer_list {
                width: 100%;
                text-align: right;
            }

            .footer_small {
                text-align: center;
                margin: 20px 0 0 0;
                display: block;
                width: 100%;
                font-size: 0.7rem;
            }

            .footer_text {
                overflow: hidden;
                display: inline-block;
                width: 100%;
                text-align: center;
            }

            .footer_br {
                display: block;
            }
        }

        .footer_container_dt {
            font-size: 0.8rem;
        }

        .footer_container_dd {
            font-size: 2rem;
            margin: 0;
        }

        .footer_ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .footer_li {
            display: inline-block;
            padding: 0 10px;
            font-size: 0.8rem;
            line-height: 3;
        }

        .footer_link {
            color: #555;
            text-decoration: none;
            outline: none;
        }

        .menu {
            position: fixed;
            z-index: -1;
            opacity: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background: #B6E2A2;
            transition: all 0.3s;
        }

        .menu.active {
            opacity: 0.9;
            z-index: 999;
        }

        .menu_ul {
            position: absolute;
            z-index: 999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .menu_li {
            list-style: none;
            text-align: center;
        }

        .menu_list_top {
            font-size: 2rem;
            text-transform: none;
            font-weight: normal;
            line-height: 1;
            white-space: nowrap;
            margin: 0 0 20px 0;
        }

        .menu_link {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            display: block;
            letter-spacing: 0.1em;
            font-weight: bold;
        }

        .english_font {
            font-family: 'Parisienne', cursive;
        }